@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
	margin: 0;
}

body {
	background-image: linear-gradient(to top, #9e2e2a, #761b18);
}

.mainorg {
	padding: 100px;
}

/*HEADER*/

.img {
	width: 10%;
}

header {
	display: flex;
	flex-direction: row;
	background-color: #9e2e2a;
	justify-content: space-between;
	align-items: center;
}

.head {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.head p {
	font-size: 25px;
	color: white;
	font-family: 'Inter', sans-serif;
}

.head2 {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.head2 img {
	width: 50%;
}

.head2 p {
	font-size: 25px;
	color: white;
	font-family: 'Inter', sans-serif;
}

/*NAVBAR*/

.navbar {
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	background-color: black;
}

.navbar a {
	color: white;
	text-decoration: none;
	list-style: none;
	font-family: 'Inter', sans-serif;
	font-size: 25px;
}
.navbar a:hover {
	color: rgb(255, 0, 0);
	text-decoration: none;
	list-style: none;
	font-family: 'Inter', sans-serif;
}

/*PRIMERAS 3 CARDS*/

.cards1 {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

.card {
	position: relative;
	width: 300px;
	margin: 10px;
	overflow: hidden;
}

.card img {
	width: 140%;
	height: auto;
	object-fit: cover;
}

.card .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99%;
	color: #9e2e2a;
	display: flex;
	justify-content: center;
	align-items: end;
	transition: opacity 0.3s ease;
}

.button1 {
	border-color: rgba(255, 0, 0, 0);
	font-size: 30px;
	color: #9e2e2a;
	background-color: rgba(0, 0, 0, 0.783);
	font-family: 'Inter', sans-serif;
}

.button1 a {
	text-decoration: none;
	list-style: none;
	color: #9e2e2a;
}
.button1 a:hover {
	transition: 0.3s;
	border-color: rgba(255, 0, 0, 0);
	font-size: 30px;
	color: #fdfdfd;
	background-color: rgba(0, 0, 0, 0.783);
	font-family: 'Inter', sans-serif;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.button1:hover {
	transition: 0.3s;
	border-color: rgba(255, 0, 0, 0);
	font-size: 30px;
	color: #fdfdfd;
	background-color: rgba(0, 0, 0, 0.783);
	font-family: 'Inter', sans-serif;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

/*FIXTURE*/

.fixture img {
	width: 1070px;
	height: 324px;
}

.fixture {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*FOTOS*/

.fotos {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 100px;
}

.fotos img {
	width: 787px;
	height: 283px;
}

.imgclubes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.clubesbody {
	background-image: linear-gradient(to right, #a1052a, #67051c);
}

/*TABLAS*/

.imgtablas {
	display: flex;
	justify-content: center;
	padding: 100px;
}

.imgtablas img {
	width: 40%;
	height: 40%;
}

/*FORM*/

.form-container {
	padding: 20px;
	border-radius: 10px;
	font-family: 'Inter', sans-serif;
	color: white;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-group select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-button {
	text-align: center;
	margin-top: 15px;
}

.formh2 {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 0px 40px;
}

.imglogo {
	height: 70px;
	width: 70px;
}

.textstyle {
	font-size: 25px;
	color: white;
	font-family: 'Inter', sans-serif;
}
.redes{
	width: 40px;
	height: 40px;
}